/* Navbar.css */
.apifile{
  width: 100vw;
  height: 100vh;
}
.nav {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .nav-link {

    text-decoration: none;
    color: #828080;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #495057;
    color: #ffffff;
  }
  
  .nav-item {
    margin: 0 10px;

    
  }

  
  .navbar-right {
    display: flex;

  }
  
  .login-signup {
    margin-left: auto;

  }
  
  .login-signup .nav-item {
    margin: 0 5px;
    background-color: #f9fafb;

    border-radius: 4px;
  }
 

  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-item {
      width: 100%;
    }
  }
  
  

.crypto-container {
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: #f4f4f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .search-bar {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  .top-movers {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;

  }
  
  .mover {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .mover h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
  .mover ul {
    list-style: none;
    padding: 20px;
  }
  
  .mover-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .mover-item:last-child {
    border-bottom: none;
  }
  
  .mover-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .mover-change {
    font-weight: bold;
    color: green;
  }
  
  .mover-change.red {
    color: red;
  }
  
  /* Crypto Table */
  .table-wrapper {
    overflow-x: auto;
    max-height: 600px;
  }
  
  .crypto-table {
    width: 100%;
    align-items: center;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: #333;
  }
  
  .crypto-table thead {
    background-color: #e0e0e0;
    align-items: center;
    position: sticky;
    top: 0;
  }
  
  .crypto-table th, .crypto-table td {
    padding: 15px 10px;
  }
  
  .crypto-table th {
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .crypto-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .crypto-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .currency-name {
    display: flex;
    align-items: center;
    padding: 3px;
    gap: 10px;
  }
  
  .currency-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .crypto-table td {
    border-bottom: 1px solid #ddd;
  }
  
  .crypto-table td, .crypto-table th {
    white-space: nowrap;
  }
  
  @media screen and (max-width: 1148px) {
    .crypto-table th, .crypto-table td {
      padding: 5px 5px;
    }
    .top-movers {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }
    
    .mover {
      position: relative;
      width: 100%;
      align-items: center;
      overflow: hidden;
  }

  }

  @media screen and (max-width: 748px) {
    .crypto-table th, .crypto-table td {
      padding: 5px 5px;
    }
    .crypto-table {
      width: 300%;
      align-items: center;
      overflow: scroll;
      font-family: 'Poppins', sans-serif;
      text-align: left;
      color: #333;
    }


  }
  
  .top-movers {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .mover {
    position: relative;
    width: 100%;
    overflow: auto;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll 5s linear infinite;
 
}

.mover-item {
    min-width: 200px;
    padding: 10px;
    text-align: center;

}

.mover-icon {
    width: 50px;
    height: 50px;
    
}

.red {
    color: red;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
   
  
    100% {
        transform: translateX(-100%);
    }
}




