body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0;
  }
  .out-container{
    width: 70%;
    height: 80vh;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }
  .r-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45c1f3;
    
  }
  .form-container {
    background-color: white;
    padding:20px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 98%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: transform 0.5s ease;

  }

  .form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-toggle button {
    width: 50%;
    padding: 10px;
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px 10px 0 0;
  }
  .form-toggle button:focus{
    outline: none;
  }
  
  .form-toggle .active {
    background-color: #1874ad;
    color: white;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form h2 {
    margin-bottom: 20px;
  }
  
  .form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form button {
    padding: 10px;
    background-color:#1874ad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .form a {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: right;
  }
  
  .form p {
    text-align: center;
  }
  
  .login-img{
    width:50%;
    height: 100%;
    transition: transform 0.8s ease;
    display: flex;
    align-items: center;
  }
  
  .move-left{
    transform: translateX(-0%);
  }
  .move-right{
    transform: translateX(130%);
  }
  .img-right{
    transform: translateX(0%);
  }
  .img-left{
    transform: translateX(-100%);
  }
